.idea/*

*.bak


docs/*.jsonld

*.pyc
__pycache__/*
*/.ipynb_checkpoints/*
*-checkpoint.ipynb


# build
*.egg*
build/
dist/
docs/class_structure_pub.svg
.coverage
docs/cf-standard-name-table.xml
*/snt.md
*/snt.html
snt.md
snt.html
snt.xml
docs/cf-standard-name-table.md

tmp/
tests/snt.json
