# Core dependencies from pyproject.toml
rdflib>=7.0.0
appdirs>=1.4.4
pydantic[email]>=2.7.4,<=2.10.6
python-dateutil>=2.9.0
requests>=2.32.4
ontolutils>=0.26.0,<1.0.0
pint>=0.24.4

# Documentation dependencies
Sphinx==8.0.0
myst_nb
pypandoc>=1.13