<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Standard Name Table Form</title>

    <!-- Bootstrap CSS CDN -->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom CSS (optional) -->
    <style>
        .form-section {
            margin-bottom: 20px;
        }
        .form-section h2 {
            margin-bottom: 15px;
            color: #4a4a4a;
        }
    </style>

    <script src="static/main.js" defer></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Sortable/1.14.0/Sortable.min.js"></script>

</head>
<body>
<!-- Navbar for navigation -->
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="/">SNT-Config</a>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
            <li class="nav-item active">
                <a class="nav-link" href="#">Form</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#" id="json-ld-link">JSON-LD</a>
            </li>
        </ul>
    </div>
</nav>
<div class="container">
    <h1 class="my-4 text-center">Standard Name Table Form</h1>
    <form id="main-form" method="POST" action="/JSON-LD">
        <div class="form-section">
            <h2>General Information</h2>
            <div class="form-group">
                <label for="title">Title:</label>
                <input type="text" class="form-control" name="title" value="{{ data.title  if data else '' }}" required>
            </div>
            <div class="form-group">
                <label for="version">Version:</label>
                <input type="text" class="form-control" name="version"
                       value="{{ data.version  if data else '' }}"
                       placeholder="Tip: Use semantic versioning, e.g. v1.0.0. See more at https://semver.org/"
                       title="Tip: Use semantic versioning, e.g. v1.0.0. See more at https://semver.org/" required>
            </div>
            <div class="form-group">
                <label for="description">Description:</label>
                <textarea class="form-control" name="description" rows="3"
                          required>{{ data.description  if data else '' }}</textarea>
            </div>
        </div>

        <div class="form-section">
            <h2>Author(s)</h2>
            <div id="author-container">
                {% if data %}
                {% for author in data.authors %}
                <div class="author form-row align-items-center mb-2">
                    <div class="col-md">
                        <label>First Name:</label>
                        <input type="text" class="form-control" name="person.firstName[]" value="{{ author.firstName }}">
                    </div>
                    <div class="col-md">
                        <label>Last Name:</label>
                        <input type="text" class="form-control" name="person.lastName[]" value="{{ author.lastName }}">
                    </div>
                    <div class="col-md">
                        <label>ORCID ID:</label>
                        <input type="text" class="form-control" name="person.orcidId[]"
                               placeholder="Format: NNN-NNN-NNN-NNN"
                               value="{{ author.orcidId }}">
                    </div>
                    <div class="col-md">
                        <label>Role:</label>
                        <select class="form-control" name="person.role[]" required>
                            <option value="" disabled>Select role</option>
                            <option value="Contact Person" {% if author.hadRole == 'ContactPerson' %}selected{% endif %}>Contact Person</option>
                            <option value="DataCollector" {% if author.hadRole == 'DataCollector' %}selected{% endif %}>Data Collector</option>
                            <option value=DataCurator {% if author.hadRole == 'DataCurator' %}selected{% endif %}>Data Curator</option>
                            <option value=DataManager {% if author.hadRole == 'DataManager' %}selected{% endif %}>Data Manager</option>
                            <option value=Distributor {% if author.hadRole == 'Distributor' %}selected{% endif %}>Distributor</option>
                            <option value=Editor {% if author.hadRole == 'Editor' %}selected{% endif %}>Editor</option>
                            <option value=Other {% if author.hadRole == 'Other' %}selected{% endif %}>Other</option>
                            <option value=Producer {% if author.hadRole == 'Producer' %}selected{% endif %}>Producer</option>
                            <option value=ProjectLeader {% if author.hadRole == 'ProjectLeader' %}selected{% endif %}>Project Leader</option>
                            <option value=ProjectManager {% if author.hadRole == 'ProjectManager' %}selected{% endif %}>Project Manager</option>
                            <option value=ProjectMember {% if author.hadRole == 'ProjectMember' %}selected{% endif %}>Project Member</option>
                            <option value=RelatedPerson {% if author.hadRole == 'RelatedPerson' %}selected{% endif %}>Related Person</option>
                            <option value=Researcher {% if author.hadRole == 'Researcher' %}selected{% endif %}>Researcher</option>
                            <option value=RightsHolder {% if author.hadRole == 'RightsHolder' %}selected{% endif %}>Rights Holder</option>
                            <option value=Sponsor {% if author.hadRole == 'Sponsor' %}selected{% endif %}>Sponsor</option>
                            <option value=Supervisor {% if author.hadRole == 'Supervisor' %}selected{% endif %}>Supervisor</option>
                            <option value="WorkPackageLeader" {% if author.hadRole == 'WorkPackageLeader' %}selected{% endif %}>Workpackage Leader</option>
                        </select>
                    </div>
                    <div class="col-md">
                        <label>Email:</label>
                        <input type="email" class="form-control" name="person.mbox[]" value="{{ author.mbox }}">
                    </div>
                    <div class="col-md-1 text-right mt-2">
                        <button type="button" class="btn btn-danger mt-4" onclick="deleteAuthor(this)">Delete Author
                        </button>
                    </div>
                </div>
                {% endfor %}
                {% else %}
                <div class="form-row align-items-center mb-2">
                    <div class="col-md">
                        <label>First Name:</label>
                        <input type="text" class="form-control" name="first_name[]">
                    </div>
                    <div class="col-md">
                        <label>Last Name:</label>
                        <input type="text" class="form-control" name="last_name[]">
                    </div>
                    <div class="col-md">
                        <label>ORCID ID:</label>
                        <input type="text" class="form-control" name="orcid[]">
                    </div>
                    <div class="col-md">
                        <label>Email:</label>
                        <input type="email" class="form-control" name="email[]">
                    </div>
                    <div class="col-md-1 text-right mt-2">
                        <button type="button" class="btn btn-danger" onclick="deleteAuthor(this)">Delete Author</button>
                    </div>
                </div>
                {% endif %}
            </div>
            <button type="button" class="btn btn-secondary" onclick="addAuthor()">Add Author</button>
        </div>

        <h3 class="mt-4">Qualifications</h3>
        <label id="qualification-heading"></label>
        <div id="qualification-container">
            {% if data %}
                {% for qualification in data.qualifications %}
                <div class="list-group-item d-flex justify-content-between align-items-center mb-2">
                    <div class="w-100">
                        <div class="form-row">
                            <div class="col-md-3">
                                <label>Name:</label>
                                <input type="text" class="form-control" name="qualification_name[]" required
                                       value="{{ qualification.name }}" oninput="updateConfiguration()">
                            </div>
                            <div class="col-md-3">
                                <label>Valid Values:</label>
                                <input type="text" class="form-control" name="valid_values[]"
                                       value="{{ qualification.hasValidValues | map(attribute='value') | join(', ') }}"
                                       placeholder="Comma sep. list, e.g. x,y,z" required>
                            </div>
                            <div class="col-md-2">
                                <label>Preposition (optional):</label>
                                <input type="text" class="form-control" name="preposition[]"
                                       placeholder='E.g. "at", "assuming", ...'
                                       value="{{ qualification.hasPreposition if qualification.hasPreposition else '' }}">
                            </div>
                            <div class="col-md-3">
                                <label>Description:</label>
                                <input type="text" class="form-control" name="qualification_description[]"
                                       value="{{ qualification.description }}" required>
                            </div>
                            <div class="col-md-2">
                                <div class="form-check d-flex align-items-center">
                                    <input class="form-check-input" type="checkbox" name="vector[]" id="vectorCheckbox" {%
                                           if
                                    'Vector' in qualification.__class__.__name__ %}checked{% endif %}>
                                    <label class="form-check-label ml-2" for="vectorCheckbox">
                                        Vector?
                                    </label>
                                </div>
                            </div>
                        </div>
                    </div>
                     <button type="button" class="btn btn-danger btn-sm" onclick="deleteQualification(this)">Delete</button>
                </div>

                {% endfor %}
            {% endif %}

        </div>
        <button type="button" class="btn btn-primary" onclick="addQualification()">Add Qualification</button>


        <div class="form-section">
            <h3 class="mt-4">Standard Names</h3>
            <div id="standard-name-container">
                {% if data %}
                {% for standard in data.standard_names %}
                <div class="form-row align-items-center mb-2">
                    <div class="col-md-3">
                        <label>Name:</label>
                        <input type="text" class="form-control" name="standard_name[]" value="{{ standard.standardName }}"
                               required>
                    </div>
                    <div class="col-md-1">
                        <label>Unit:</label>
                        <input type="text" class="form-control" name="unit[]" value="{{ standard.unit_str }}" title="{{ standard.unit }}" required>
                    </div>
                    <div class="col-md-5">
                        <label>Description:</label>
                        <input type="text" class="form-control" name="name_description[]"
                               value="{{ standard.description }}" required>
                    </div>
                    <div class="col-md-2">
                        <label>Vector:</label>
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" name="is_vector[]" {% if standard.is_vector
                                   %}checked{% endif %}>
                        </div>
                    </div>
                    <div class="col-md-1 text-right mt-2">
                        <button type="button" class="btn btn-danger" onclick="deleteStandardName(this)">Delete</button>
                    </div>
                </div>
                {% endfor %}
                {% else %}
                <div class="form-row align-items-center mb-2">
                    <div class="col-md-3">
                        <label>Name:</label>
                        <input type="text" class="form-control" name="standard_name[]" required>
                    </div>
                    <div class="col-md-1">
                        <label>Unit:</label>
                        <input type="text" class="form-control" name="unit[]" required>
                    </div>
                    <div class="col-md-5">
                        <label>Description:</label>
                        <input type="text" class="form-control" name="name_description[]" required>
                    </div>
                    <div class="col-md-2">
                        <label>Vector:</label>
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" name="is_vector[]">
                        </div>
                    </div>
                    <div class="col-md-1 text-right mt-2">
                        <button type="button" class="btn btn-danger" onclick="deleteStandardName(this)">Delete</button>
                    </div>
                </div>
                {% endif %}
            </div>
            <button type="button" class="btn btn-secondary" onclick="addStandardNameRow()">Add Standard Name</button>
        </div>

        <div class="text-center my-4">
            <input type="submit" class="btn btn-primary" value="Submit">
        </div>
    </form>
</div>

<script>
    // Initialize Sortable.js on qualification container
    const qualificationContainer = document.getElementById('qualification-container');
    new Sortable(qualificationContainer, {
        animation: 150,
        onEnd: function() {
            updateConfiguration();
        }
    });

    // Add default qualification entry
    function addDefaultQualification() {
        const defaultQualificationDiv = document.createElement('div');
        defaultQualificationDiv.classList.add('list-group-item', 'd-flex', 'justify-content-between', 'align-items-center', 'mb-2');
        defaultQualificationDiv.innerHTML = `
            <div class="w-100">
                <div class="form-row">
                    <div class="col-md-3">
                        <label>Name:</label>
                        <input type="text" class="form-control" name="qualification_name[]" value="AnyStandardName" readonly>
                    </div>
                    <div class="col-md-8">
                        <label>Description:</label>
                        <input type="text" class="form-control" name="qualification_description[]" value="Any Standard Name. Place the qualifications around it." readonly>
                    </div>
                </div>
            </div>
        `;
        qualificationContainer.appendChild(defaultQualificationDiv);
    }

    // Call function to add the default qualification
    addDefaultQualification();
</script>

<script>
    window.onload = function() {
        // Trigger updateConfiguration when the page loads
        updateConfiguration();
    };
</script>

<script>
    document.getElementById('json-ld-link').addEventListener('click', function(event) {
        event.preventDefault();  // Prevent the default link behavior
        const form = document.getElementById('main-form');
        form.action = '/JSON-LD';  // Change the form action to /JSON-LD
        form.submit();  // Submit the form
    });
</script>

<!-- Bootstrap JS and dependencies -->
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.2/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
