<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Standard Name Table Form</title>

    <!-- Bootstrap CSS CDN -->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom CSS (optional) -->
    <style>
        .form-section {
            margin-bottom: 20px;
        }
        .form-section h2 {
            margin-bottom: 15px;
            color: #4a4a4a;
        }
    </style>

    <script src="static/main.js" defer></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Sortable/1.14.0/Sortable.min.js"></script>
    <!-- Bootstrap JS and dependencies -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js"></script>
    <!--    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.2/dist/umd/popper.min.js"></script>-->
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

</head>
<body>
<!-- Navbar for navigation -->
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="/">SNT-Config</a>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
            <li class="nav-item active">
                <a class="nav-link" href="#">Form</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#" id="json-ld-link">JSON-LD</a>
            </li>
        </ul>
    </div>
</nav>
<div class="container">
    <h1 class="my-4 text-center">Standard Name Table Form</h1>
    <!-- Display warnings -->

    {% if warning_messages %}
    {% if warning_messages | length > 0 %}
    <div class="alert alert-warning" role="alert">
        <strong>Warnings found</strong>

        {% for category, messages in warning_messages.items() %}
        <div class="card mb-3">
            <div class="card-header">
                <button class="btn btn-link" type="button" data-toggle="collapse"
                        data-target="#collapse-{{ loop.index }}" aria-expanded="false"
                        aria-controls="collapse-{{ loop.index }}">
                    {{ category }} ({{ messages|length }} Warnings)
                </button>
            </div>

            <div id="collapse-{{ loop.index }}" class="collapse">
                <div class="card-body">
                    <ul>
                        {% for message in messages %}
                        <li>{{ message }}</li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
    {% endif %}
    {% endif %}

    <form id="snt-form" method="POST" action="/JSON-LD">
        <div class="form-section">
            <h2>General Information</h2>
            <div class="form-group">
                <label for="snt_title">Title:</label>
                <input id="snt_title" type="text" class="form-control" name="title" value="{{ data.title  if data else '' }}" required>
            </div>
            <div class="form-group">
                <label for="version">Version:</label>
                <input type="text" class="form-control" name="version"
                       value="{{ data.version  if data else '' }}"
                       placeholder="Tip: Use semantic versioning, e.g. v1.0.0. See more at https://semver.org/"
                       title="Tip: Use semantic versioning, e.g. v1.0.0. See more at https://semver.org/" required>
            </div>
            <div class="form-group">
                <label for="description">Description:</label>
                <textarea class="form-control" name="description" rows="3"
                          required>{{ data.description  if data else '' }}</textarea>
            </div>
        </div>

        <div class="form-section">
            <h2>Author(s) and Organization(s)</h2>
            <div id="author-and-organization-container">
                {% if data %}
                {% for author in data.persons %}
                <div class="author form-row align-items-center mb-2">
                    <div class="col-lg">
                        <label>First Name:</label>
                        <input type="text" class="form-control" name="person.firstName[]"
                               value="{{ author.firstName }}">
                    </div>
                    <div class="col-lg">
                        <label>Last Name:</label>
                        <input type="text" class="form-control" name="person.lastName[]" value="{{ author.lastName }}">
                    </div>
                    <div class="col-lg">
                        <label>ORCID ID:</label>
                        <input type="text" class="form-control" name="person.orcidId[]"
                               placeholder="Format: NNN-NNN-NNN-NNN"
                               value="{{ author.orcidId }}">
                    </div>
                    <div class="col-lg">
                        <label>Role:</label>
                        <select class="form-control" name="person.hadRole[]">
                            <option value="">Select role</option>
                            <option value="Contact Person" {% if author.hadRole==
                            'ContactPerson' %}selected{% endif %}>Contact Person</option>
                            <option value="DataCollector" {% if author.hadRole==
                            'DataCollector' %}selected{% endif %}>Data Collector</option>
                            <option value=DataCurator {% if author.hadRole==
                            'DataCurator' %}selected{% endif %}>Data Curator</option>
                            <option value=DataManager {% if author.hadRole==
                            'DataManager' %}selected{% endif %}>Data Manager</option>
                            <option value=Distributor {% if author.hadRole==
                            'Distributor' %}selected{% endif %}>Distributor</option>
                            <option value=Editor {% if author.hadRole==
                            'Editor' %}selected{% endif %}>Editor</option>
                            <option value=Other {% if author.hadRole==
                            'Other' %}selected{% endif %}>Other</option>
                            <option value=Producer {% if author.hadRole==
                            'Producer' %}selected{% endif %}>Producer</option>
                            <option value=ProjectLeader {% if author.hadRole==
                            'ProjectLeader' %}selected{% endif %}>Project Leader</option>
                            <option value=ProjectManager {% if author.hadRole==
                            'ProjectManager' %}selected{% endif %}>Project Manager</option>
                            <option value=ProjectMember {% if author.hadRole==
                            'ProjectMember' %}selected{% endif %}>Project Member</option>
                            <option value=RelatedPerson {% if author.hadRole==
                            'RelatedPerson' %}selected{% endif %}>Related Person</option>
                            <option value=Researcher {% if author.hadRole==
                            'Researcher' %}selected{% endif %}>Researcher</option>
                            <option value=RightsHolder {% if author.hadRole==
                            'RightsHolder' %}selected{% endif %}>Rights Holder</option>
                            <option value=Sponsor {% if author.hadRole==
                            'Sponsor' %}selected{% endif %}>Sponsor</option>
                            <option value=Supervisor {% if author.hadRole==
                            'Supervisor' %}selected{% endif %}>Supervisor</option>
                            <option value="WorkPackageLeader" {% if author.hadRole==
                            'WorkPackageLeader' %}selected{% endif %}>Workpackage Leader</option>
                        </select>
                    </div>
                    <div class="col-lg">
                        <label>Email:</label>
                        <input type="email" class="form-control" name="person.mbox[]" value="{{ author.mbox }}">
                    </div>
                    <div class="col-lg">
                        <label>Affiliation:</label>
                        <select class="form-control" name="person.affiliation[]">
                            <option value="">Select Affiliation</option>
                        </select>
                    </div>
                    <div class="col-lg-1 text-right mt-2">
                        <button type="button" class="btn btn-danger mt-4" onclick="deleteAuthor(this)">X</button>
                    </div>
                </div>
                {% endfor %}
                {% for organization in data.organizations %}
                <div class="organization form-row align-items-center mb-2">
                    <div class="col-lg">
                        <label>Name:</label>
                        <input type="text" class="form-control" name="organization.name[]"
                               value="{{ organization.name if organization.name else '' }}">
                    </div>
                    <div class="col-lg">
                        <label>URL:</label>
                        <input type="url" class="form-control" name="organization.url[]"
                               value="{{ organization.url if organization.url else '' }}">
                    </div>
                    <div class="col-lg">
                        <label>ROR ID:</label>
                        <input type="text" class="form-control" name="organization.hasRorId[]"
                               placeholder="e.g. https://ror.org/63z3oa416"
                               value="{{ organization.hasRorId if organization.hasRorId else '' }}">
                    </div>
                    <div class="col-lg">
                        <label>Role:</label>
                        {% if organization.hadRole %}
                        <select class="form-control" name="organization.hadRole[]">
                            <option value="">Select role</option>
                            <option value="HostingInstitution" {% if organization.hadRole==
                            'HostingInstitution' %}selected{% endif %}>Hosting Institution</option>
                            <option value="RegistrationAgency" {% if organization.hadRole==
                            'RegistrationAgency' %}selected{% endif %}>Registration Agency</option>
                            <option value=RegistrationAuthority {% if organization.hadRole==
                            'RegistrationAuthority' %}selected{% endif %}>RegistrationAuthority</option>
                            <option value="ResearchGroup" {% if organization.hadRole==
                            'ResearchGroup' %}selected{% endif %}>Research Group</option>
                        </select>
                        {% else %}
                        <select class="form-control" name="organization.hadRole[]">
                            <option value="" selected>Select a role</option>
                            <option value="HostingInstitution">Hosting Institution</option>
                            <option value="RegistrationAgency">Data Collector</option>
                            <option value="RegistrationAuthority">Registration Authority</option>
                            <option value="ResearchGroup">Research Group</option>
                        </select>
                        {% endif %}
                    </div>
                    <div class="col-lg">
                        <label>Email:</label>
                        <input type="email" class="form-control" name="organization.mbox[]"
                               value="{{ organization.mbox if organization.mbox else ''}}">
                    </div>
                    <div class="col-lg-1 text-right mt-2">
                        <button type="button" class="btn btn-danger mt-4" onclick="deleteAuthor(this)">X</button>
                    </div>
                </div>
                {% endfor %}
                {% endif %}
            </div>
            <button type="button" class="btn btn-primary" onclick="addAuthor()">Add Author</button>
            <button type="button" class="btn btn-primary" onclick="addOrganization()">Add Organization</button>
        </div>

        <h3 class="mt-4">Transformations</h3>
        <label id="transformation-heading"></label>
        <div id="transformation-container">
            {% for transformation in data.transformations %}
            {% set inner_loop = loop %}
            <div class="list-group-item d-flex justify-content-between align-items-center mb-2">
                <div class="w-100">
                    <div class="form-row">
                        <div class="col-lg-3">
                            <label title="Please use capital letters for associated characters.">Name:</label>
                            <input type="text"
                                   id="transformation_name_field-{{ inner_loop.index }}"
                                   class="form-control"
                                   name="transformation_name[]"
                                   required
                                   value="{{ transformation.name }}"
                                   oninput="onTransformationNameChange(this.id, {{ inner_loop.index }})">
                        </div>
                        <div class="col-lg-3">
                            <label title="Put characters in square brackets, e.g. [X]/[C]">Alters Unit:</label>
                            <input type="text"
                                   id="transformation_alterUnit-{{ inner_loop.index }}"
                                   class="form-control"
                                   name="transformation_altersUnit[]"
                                   required
                                   value="{{ transformation.altersUnit }}"
                                   onfocusout="onChangeAltersUnit(this.id, `transformation_name_field-{{ loop.index }}`)">
                        </div>
                        <div class="col-lg-4">
                            <label>Description:</label>
                            <textarea class="form-control" name="transformation_description[]" rows="3"
                                      required>{{ transformation.description  if data else '' }}</textarea>
                        </div>
                    </div>
                    <div id="characters-container-{{ inner_loop.index }}">
                        {% for character in transformation.hasCharacter %}
                        <div class="form-row" id="characters-row-{{ inner_loop.index}}-{{ character.character }}">
                            <div class="col-lg-1">
                                <label>Char:</label>
                                <input type="text"
                                       id="transformation_character_character-{{ inner_loop.index}}-{{ character.character }}"
                                       class="form-control"
                                       name="transformation_character_character[]"
                                       required
                                       disabled
                                       value="{{ character.character }}">
                            </div>
                            <div class="col-lg-4">
                                <label>associated with:</label>
                                <select class="form-control qualification-dropdown" id="associatedWithDropdown"
                                        name="transformation_character_associatedWith[]">
                                    <option value="">Select an association</option>
                                    <option value="AnyStandardName" {% if
                                            character.associatedWith=='https://matthiasprobst.github.io/ssno#AnyStandardName'
                                            %}selected{% endif %}>Any Standard Name
                                    </option>
                                    {% for qualification in data.qualifications %}
                                    <option value={{ qualification.name }} {% if character.associatedWith==
                                            qualification.name %}selected{% endif %}> {{ qualification.name }}
                                    </option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                </div>
                <div class="col-lg-2 text-right mt-2">
                    <button type="button" class="btn btn-danger mt-4" onclick="deleteTransformation(this)">Delete
                        Transformation
                    </button>
                </div>
            </div>

            {% endfor %}
        </div>
        <button type="button" class="btn btn-primary" onclick="addTransformation()">Add Transformation</button>

        <h3 class="mt-4">Qualifications</h3>
        <label id="qualification-heading"></label>
        <div id="qualification-container">
            {% if data %}
            {% for qualification in data.qualifications %}
            {% set inner_loop = loop %}
            <div class="list-group-item d-flex justify-content-between align-items-center mb-2 qualification-item"
                 id="qualification-item-{{ loop.index }}">
                <div class="w-100">
                    <div class="form-row" id="qualification-form-row-vector-{{ loop.index }}">
                        <div class="col-lg-1">
                            <div class="form-check d-flex align-items-center">
                                <input class="form-check-input"
                                       type="checkbox"
                                       name="is_vector_qualification[]"
                                       id="vectorCheckbox" {%
                                       if
                                'Vector' in qualification.__class__.__name__ %}checked{% endif %}>
                                <input type="hidden" name="is_vector_qualification[]" value="off">
                                <label class="form-check-label ml-2" for="vectorCheckbox">
                                    Vector?
                                </label>
                            </div>
                        </div>
                        <div class="col-lg-10">
                        </div>
                        <div class="col-lg text-right mt-2">
                            <button type="button" class="btn btn-danger btn-sm" onclick="deleteQualification(this)">
                                Delete
                            </button>
                        </div>
                    </div>
                    <div class="form-row" id="qualification-form-row-{{ loop.index }}">
                        <div class="col-lg-2">
                            <label for="preposition-input-{{ loop.index }}">Preposition (opt.):</label>
                            <input type="text"
                                   id="preposition-input-{{ loop.index }}"
                                   class="form-control"
                                   name="preposition[]"
                                   placeholder='E.g. "at", "assuming", ...'
                                   value="{{ qualification.hasPreposition if qualification.hasPreposition else ' ' }}">
                        </div>
                        <div class="col-lg-3">
                            <label for="qualification-name-input-{{ loop.index }}">Name:</label>
                            <input type="text"
                                   id="qualification-name-input-{{ loop.index }}"
                                   class="form-control"
                                   name="qualification_name[]"
                                   required
                                   value="{{ qualification.name }}"
                                   oninput="updateConfiguration()">
                        </div>
                        <div class="col-lg-3">
                            <label for="hasValidValues-input-{{ loop.index }}">Valid Values for "{{ qualification.name
                                }}":</label>
                            <input type="text"
                                   id="hasValidValues-input-{{ loop.index }}"
                                   class="form-control"
                                   name="hasValidValues[]"
                                   value="{{ qualification.hasValidValues | map(attribute='hasStringValue') | join(', ') }}"
                                   placeholder="Comma sep. list, e.g. x,y,z" required
                                   oninput="onValidValuesChange(this.id, {{ loop.index }})">
                        </div>
                        <div class="col-lg">
                            <label>Description:</label>
                            <input type="text" class="form-control" name="qualification_description[]"
                                   value="{{ qualification.description }}" required>
                        </div>
                    </div>
                    {% for valid_value in qualification.hasValidValues %}
                    <div class="form-row hasValidValues-row-{{ inner_loop.index }}">
                        <div class="col-lg-1">
                            <label for="hasValidValues-value-{{ valid_value.hasStringValue }}-{{ inner_loop.index }}">Value:</label>
                            <input type="text"
                                   id="hasValidValues-value-{{ valid_value.hasStringValue }}-{{ inner_loop.index }}"
                                   class="form-control"
                                   name="hasStringValue[]"
                                   value="{{ valid_value.hasStringValue }}"
                                   required disabled>
                        </div>
                        <div class="col-lg">
                            <label for="hasValidValues-description-{{ valid_value.hasStringValue }}-{{ inner_loop.index }}">Description:</label>
                            <input type="text"
                                   id="hasValidValues-description-{{ valid_value.hasStringValue }}-{{ inner_loop.index }}"
                                   class="form-control"
                                   name="hasVariableDescription[]"
                                   value="{{ valid_value.hasVariableDescription }}"
                                   required>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>

            {% endfor %}
            {% endif %}

        </div>
        <button type="button" class="btn btn-primary" onclick="addQualification()">Add Qualification</button>


        <div class="form-section">
            <h3 class="mt-4">Standard Names</h3>
            <div id="standard-name-container">
                {% if data %}
                {% for standard in data.standard_names %}
                <div class="form-row align-items-center mb-2">
                    <div class="col-lg-3">
                        <label>Name:</label>
                        <input type="text" class="form-control" name="standard_name.name[]"
                               value="{{ standard.standardName }}"
                               required>
                    </div>
                    <div class="col-lg-1">
                        <label>Unit:</label>
                        <input type="text" class="form-control" name="standard_name.unit[]"
                               value="{{ standard.unit_str }}"
                               title="{{ standard.unit }}" required>
                    </div>
                    <div class="col-lg-5">
                        <label>Description:</label>
                        <input type="text" class="form-control" name="standard_name.description[]"
                               value="{{ standard.description }}">
                    </div>
                    <div class="col-lg-2">
                        <label>Vector:</label>
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" name="is_vector_standard_name[]" {% if
                                   standard.is_vector
                                   %}checked{% endif %}>
                            <input type="hidden" name="is_vector_standard_name[]" value="off">
                        </div>
                    </div>
                    <div class="col-lg-1 text-right mt-2">
                        <button type="button" class="btn btn-danger" onclick="deleteStandardName(this)">X</button>
                    </div>
                </div>
                {% endfor %}
                {% else %}
                <div class="form-row align-items-center mb-2">
                    <div class="col-lg-3">
                        <label>Name:</label>
                        <input type="text" class="form-control" name="standard_name.name[]" required>
                    </div>
                    <div class="col-lg-1">
                        <label>Unit:</label>
                        <input type="text" class="form-control" name="standard_name.unit[]" required>
                    </div>
                    <div class="col-lg-5">
                        <label>Description:</label>
                        <input type="text" class="form-control" name="standard_name.description[]" required>
                    </div>
                    <div class="col-lg-2">
                        <label>Vector:</label>
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" name="is_vector_standard_name[]">
                            <input type="hidden" name="is_vector_standard_name[]" value="off">
                        </div>
                    </div>
                    <div class="col-lg-1 text-right mt-2">
                        <button type="button" class="btn btn-danger" onclick="deleteStandardName(this)">X</button>
                    </div>
                </div>
                {% endif %}
            </div>
            <button type="button" class="btn btn-secondary" onclick="addStandardNameRow()">Add Standard Name</button>
        </div>

        <div class="text-center my-4">
            <input type="submit" class="btn btn-primary" value="To JSON-LD">
        </div>
    </form>
</div>

<script>
    document.getElementById('snt-form').addEventListener('submit', function(event) {
        // Select all checkboxes with name "is_vector_qualification[]"
        const checkboxes = document.querySelectorAll('input[name="is_vector_qualification[]"]');
        let checkedCount = 0;

        // Count how many checkboxes are checked
        checkboxes.forEach(function(checkbox) {
            if (checkbox.checked) {
                checkedCount++;
            }
        });

        // If more than one checkbox is checked, prevent form submission and show error
        if (checkedCount > 1) {
            event.preventDefault(); // Prevent form submission
            alert('Only one "VectorQualification" can be defined per standard name table.');
        }
    });
</script>

<script>
    // Initialize Sortable.js on qualification container
    const qualificationContainer = document.getElementById('qualification-container');
    new Sortable(qualificationContainer, {
        animation: 150,
        onEnd: function() {
            updateConfiguration();
        }
    });

    // Add default qualification entry
    function addDefaultQualification() {
        const defaultQualificationDiv = document.createElement('div');
        defaultQualificationDiv.classList.add('list-group-item', 'd-flex', 'justify-content-between', 'align-items-center', 'mb-2', 'qualification-item');
        defaultQualificationDiv.innerHTML = `
            <div class="w-100">
                <div class="form-row">
                    <div class="col-lg-3">
                        <label>Name:</label>
                        <input type="text" class="form-control" name="qualification_name[]" value="AnyStandardName" readonly>
                    </div>
                    <div class="col-lg-8">
                        <label>Description:</label>
                        <input type="text" class="form-control" value="Any Standard Name. Place the qualifications around it." readonly>
                    </div>
                </div>
            </div>
        `;
        qualificationContainer.appendChild(defaultQualificationDiv);
    }

    // Call function to add the default qualification
    addDefaultQualification();
</script>

<script>
    window.onload = function() {
        // Trigger updateConfiguration when the page loads
        updateConfiguration();
    };
</script>

<script>
    document.getElementById('json-ld-link').addEventListener('click', function(event) {
        event.preventDefault();  // Prevent the default link behavior
        const form = document.getElementById('snt-form');
        form.action = '/JSON-LD';  // Change the form action to /JSON-LD
        form.submit();  // Submit the form
    });
</script>

</body>
</html>
