<div class="form-section">
    <h3 class="mt-4">Standard Names</h3>
    <div id="standard-name-container">
        {% if data %}
        {% for standard in data.standard_names %}
        <div class="form-row align-items-center mb-2">
            <div class="col-lg-3">
                <label>Name:</label>
                <input type="text" class="form-control" name="standard_name.name[]"
                       value="{{ standard.standardName }}"
                       required>
            </div>
            <div class="col-lg-1">
                <label>Unit:</label>
                <input type="text" class="form-control" name="standard_name.unit[]"
                       value="{{ standard.unit_str }}"
                       title="{{ standard.unit }}" required>
            </div>
            <div class="col-lg-5">
                <label>Description:</label>
                <input type="text" class="form-control" name="standard_name.description[]"
                       value="{{ standard.description }}">
            </div>
            <div class="col-lg-2">
                <label>Vector:</label>
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" name="is_vector_standard_name[]" {% if
                           standard.is_vector
                           %}checked{% endif %}>
                    <input type="hidden" name="is_vector_standard_name[]" value="off">
                </div>
            </div>
            <div class="col-lg-1 text-right mt-2">
                <button type="button"
                        class="btn btn-secondary mt-4 d-flex justify-content-flex-end align-content-between"
                        onclick="deleteStandardName(this)">
                    <i class="material-icons mr-1">delete_forever</i>
                </button>
            </div>

        </div>
        {% endfor %}
        {% else %}
        <div class="form-row align-items-center mb-2">
            <div class="col-lg-3">
                <label>Name:</label>
                <input type="text" class="form-control" name="standard_name.name[]" required>
            </div>
            <div class="col-lg-1">
                <label>Unit:</label>
                <input type="text" class="form-control" name="standard_name.unit[]" required>
            </div>
            <div class="col-lg-5">
                <label>Description:</label>
                <input type="text" class="form-control" name="standard_name.description[]" required>
            </div>
            <div class="col-lg-2">
                <label>Vector:</label>
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" name="is_vector_standard_name[]">
                    <input type="hidden" name="is_vector_standard_name[]" value="off">
                </div>
            </div>
            <div class="col-lg-1 text-right mt-2">
                <button type="button" class="btn btn-danger" onclick="deleteStandardName(this)">X</button>
            </div>
        </div>
        {% endif %}
    </div>
    <button type="button" class="btn btn-secondary" onclick="addStandardNameRow()">Add Standard Name</button>
</div>