<div class="form-section">
    <h2>Standard Names</h2>
    <div id="standard-names-container">
        {% for standardName in data.standard_names %}

        <div class="author form-row align-items-center mb-2">
            <div class="col-lg">
                <input type="text"
                       class="form-control"
                       placeholder="Standard name"
                       name="standardName.standardName[]"
                       value="{{ standardName.name }}">
            </div>
            <div class="col-lg">
                <input type="text"
                       class="form-control"
                       placeholder="Definition"
                       name="standardName.definition[]"
                       value="{{ standardName.description }}">
            </div>
            <div class="col-lg">
                <input type="text"
                       placeholder="units"
                       class="form-control"
                       name="standardName.unit[]"
                       value="{{ standardName.unit_str }}">
            </div>
            <input type="checkbox" id="vehicle1" name="vehicle1" value="Bike">
            <div class="col-lg">
                <input type="text"
                       class="form-control"
                       name="standardName.vector[]"
                       value="{{ standardName.is_vector }}">
            </div>

        {% endfor %}
        </div>
</div>